@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@theme {
    --color-primary: #0A192F;
    --color-secondry: #F97316;
    --color-tertiary: #54D6BB;
}

*{
    font-family: "Montserrat", serif;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: var(--color-primary); 
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

  