@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@theme {
    --color-primary: #0A192F;
    --color-secondry: #F97316;
    --color-tertiary: #54D6BB;
}

*{
    font-family: "Montserrat", serif;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: var(--color-primary); 
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    /* background: #044150;  */
}
a{
    cursor: pointer;
}
a:hover{
    color: #fff;
}

/* loader animation */
.m{
    animation: m 1s infinite;
}
@keyframes m{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.5;
    }
}

.p{
    animation: p 1s infinite;
}
@keyframes p{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}

.k{
    animation: k 1s infinite;
}
@keyframes k{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.icon-size {
    font-size: 16px !important;
}
.adminpanel button{
    cursor: pointer;
}
.projectBox:hover{
    border-color: #6464b4;
    transform: scale(1.04);
}
.readMore:hover{
    text-decoration: underline;
}
  